/*
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-family: 'Saira Condensed', sans-serif;
}

.page {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Domyślnie - usunąć potem */
    /* justify-content: space-between; */
    /* align-content: center; */
    background-color: #ddd;
}

/* *************** Main navigation *************** */

.page__mainNav {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: #2db1e9;
    /*    text-align: right;*/
    z-index: 9999;
    opacity: 0.25;
}

.main-nav__list {
    list-style: none;
}

.main-nav__list-item {
    display: inline-block;
    padding: 13px 30px;
}

.main-nav__list-item-link {
    display: block;
    color: #ddd;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* border-right: 2px solid black; */
}

.main-nav__list-item-link-i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: -2px;
}

.main-nav__list-item-link:hover {
    color: #222;
    transition: 0.25s;
}

/* *************** Header *************** */

.page__header {
    position: relative;
    flex-basis: 100vh;
    /* height: 100vh; */
    max-width: 1920px;
    overflow: hidden;
    background-color: rgb(174, 0, 255);
    /* background-image: url(../images/bg-tuxes.png); */
    /* background-size: cover; */
    /* background-position: center; */
    /* filter: blur(2px);
    -webkit-filter: blur(2px) */
}

.page__header>* {
    position: absolute;
}

.header__wrap {
    z-index: 1;
    top: 7%;
    left: 5%;
    right: 5%;
    font-family: 'Saira Condensed',
        sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* .header__wrap-greetings {
    
} */

.header__wrap-name {
    margin-top: 15px;
    font-size: 20px;
}

.header__wrap-profession {
    font-size: 20px;
    font-weight: normal;
}

.header__wrap-button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}

.header__photo {
    height: 50%;
    bottom: 0;
    right: 0;
}

@media (orientation: portrait) and (min-width: 360px) {

    .page__mainNav {
        display: none;
    }

    .header__wrap-name {
        font-size: 24px;
    }

    .header__wrap-profession {
        font-size: 24px;
    }

    .header__wrap-button {
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;
    }

    .header__photo {
        height: 53%;
        bottom: 0;
        right: 0;
    }
}


@media (orientation: landscape) and (min-width: 1024px) {

    .header__wrap {
        left: 10%;
    }

    .header__wrap-greetings {
        font-size: 56px;
    }

    .header__wrap-name {
        margin-top: 40px;
        font-size: 34px;
    }

    .header__wrap-profession {
        font-size: 34px;
    }

    .header__wrap-button {
        margin-top: 80px;
        font-size: 28px;
        line-height: 70px;
    }

    .header__photo {
        right: -22%;
        height: 85%;

    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    .header__wrap {
        text-align: left;
        left: 6%;
    }

    .header__wrap-greetings {
        font-size: 100px;
    }

    .header__wrap-name {
        margin-top: 40px;
        font-size: 50px;
    }

    .header__wrap-profession {
        font-size: 50px;
    }

    .header__wrap-button {
        margin-top: 100px;
        font-size: 30px;
        line-height: 80px;
        padding: 0 40px;
        border-width: 2px;
    }

    .header__photo {
        right: -18%;
        height: 80%;

    }

}

@media (orientation: landscape) and (min-width: 1600px) {

    .page__mainNav {
        /* display: flex; */
    }

    .header__wrap {
        left: 12%;
    }

    .header__wrap-greetings {
        font-size: 120px;
    }

    .header__wrap-name {
        margin-top: 40px;
        font-size: 60px;
    }

    .header__wrap-profession {
        font-size: 60px;
    }

    .header__wrap-button {
        line-height: 90px;
    }

    .header__photo {
        right: 0%;
        height: 90%;
    }

}

@media (min-width: 1024px) {
    header button {
        cursor: pointer;
        transition: .3s;
    }

    header button:hover {
        background-color: #fff;
        color: #222;
    }

}

/* *************** Section About me *************** */

.page__sectionAboutMe {
    background-color: rgb(157, 255, 0);
}

/* *************** Section Abilities *************** */

.page__sectionAbilities {
    background-color: rgb(255, 81, 148);
}

/* *************** Section Now learning *************** */

.page__sectionNowLearning {
    background-color: rgb(255, 212, 94);
}

/* *************** Slogan *************** */

.page__slogan {
    background-color: rgb(19, 101, 255);
}

/* *************** Contact *************** */

.page__contact {
    background-color: rgb(0, 225, 255);
}

/* *************** Footer *************** */

.page__footer {
    background-color: rgb(185, 62, 24);
}