/*
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-family: 'Saira Condensed', sans-serif;
}

.page {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Domyślnie - usunąć potem */
    /* justify-content: space-between; */
    /* align-content: center; */
    background-color: #ddd;
}

/* *************** Main navigation *************** */

.page__mainNav {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
    line-height: 1.8;
    text-transform: uppercase;
    background-color: rgba(14, 216, 214, 0.6);
    z-index: 9999;
    opacity: 0.25;
}

.main-nav__list {
    list-style: none;
}

.main-nav__list-item {
    display: inline-block;
    padding: 13px 30px;
}

.main-nav__list-item-link {
    display: block;
    color: #ddd;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* border-right: 2px solid black; */
}

.main-nav__list-item-link-i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: -2px;
}

.main-nav__list-item-link:hover {
    color: #222;
    transition: 0.25s;
}

/* *************** Header *************** */

.page__header {
    position: relative;
    flex-basis: 100vh;
    max-width: 1920px;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-tuxes.png);
    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
}

.page__header>* {
    position: absolute;
}

.header__wrap {
    z-index: 1;
    top: 7%;
    left: 12%;
    right: 5%;
    font-family: 'Saira Condensed',
        sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__wrap-greetings {
    font-size: 120px;
}

.header__wrap-name {
    margin-top: 40px;
    font-size: 60px;
}

.header__wrap-profession {
    font-size: 60px;
    font-weight: normal;
}

.header__wrap-button {

    line-height: 90px;
    padding: 0 20px;
    margin-top: 80px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s;
}

.header__wrap-button:hover {
    background-color: #fff;
    color: #222;
}

.header__photo {
    height: 90%;
    bottom: 0;
    right: 0;
}

/* @media (orientation: portrait) and (min-width: 360px) {

    .page__mainNav {
        display: none;
    }

    .main-nav--isActive {
        opacity: 0.25;
    }

    .header__wrap-name {
        font-size: 24px;
    }

    .header__wrap-profession {
        font-size: 24px;
    }

    .header__wrap-button {
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;
    }

    .header__photo {
        height: 53%;
        bottom: 0;
        right: 0;
    }
} */
/* @media (orientation: landscape) and (min-width: 1024px) {

    .header__wrap {
        left: 10%;
    }

    .header__wrap-greetings {
        font-size: 56px;
    }

    .header__wrap-name {
        margin-top: 40px;
        font-size: 34px;
    }

    .header__wrap-profession {
        font-size: 34px;
    }

    .header__wrap-button {
        margin-top: 80px;
        font-size: 28px;
        line-height: 70px;
    }

    .header__photo {
        right: -22%;
        height: 85%;

    }
}
 */
/* @media (orientation: landscape) and (min-width: 1280px) {

    .header__wrap {
        text-align: left;
        left: 6%;
    }

    .header__wrap-greetings {
        font-size: 100px;
    }

    .header__wrap-name {
        margin-top: 40px;
        font-size: 50px;
    }

    .header__wrap-profession {
        font-size: 50px;
    }

    .header__wrap-button {
        margin-top: 100px;
        font-size: 30px;
        line-height: 80px;
        padding: 0 40px;
        border-width: 2px;
    }

    .header__photo {
        right: -18%;
        height: 80%;

    }

} */
/* @media (orientation: landscape) and (min-width: 1600px) {

    .page__mainNav {
        display: flex;
    }

    .main-nav--isActive {
        opacity: 0.25;
    }

    .header__wrap {
        left: 12%;
    }

    .header__wrap-greetings {
        font-size: 120px;
    }

    .header__wrap-name {
        margin-top: 40px;
        font-size: 60px;
    }

    .header__wrap-profession {
        font-size: 60px;
    }

    .header__wrap-button {
        line-height: 90px;
    }

    .header__photo {
        right: 0%;
        height: 90%;
    }
} */
/* @media (min-width: 1024px) {
    .header__wrap-button {
        cursor: pointer;
        transition: .3s;
    }

    .header__wrap-button:hover {
        background-color: #fff;
        color: #222;
    }

} */

/* *************** Section About me *************** */

.page__sectionAboutMe {
    /* max-width: 1500px; */
    /* margin: auto; */
    padding: 80px 300px 100px;
    text-align: center;
    background-color: #f9fcfe;
    background-image: url(../images/bg-pattern.png);
}

.about-me__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-me__description {
    padding: 35px 15px 0;
    font-size: 20px;
    font-weight: 300;
    /* margin: 20px 0; */
}

/* *************** Section Abilities *************** */

.page__sectionAbilities {
    padding: 80px 280px 15px;
    text-align: center;
    background-color: #fff;
    background-image: url(../images/bg-pattern.png);
}

.abilities__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.abilities__wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 35px 15px;
    min-height: 500px;
    color: #222;
    font-size: 18px;
}

.abilities__skill {
    flex-basis: 25%;
}

.abilities__skill-i {
    font-size: 4em;
}

.abilities__skillCaption {
    margin-top: 20px;
    font-size: 22px;
}

.abilities__MySQL {
    /* display: none; */
}

/* *************** Section Now learning *************** */

.page__sectionNowLearning {
    padding: 20px 150px 80px;
    text-align: center;
    background-color: #f9fcfe;
    background-image: url(../images/bg-pattern.png);
}

.now-learning__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.now-learning__wrap {
    display: flex;
}

.now-learning__skill {
    flex-basis: 100%;
}

.now-learning__skill-i {
    font-size: 290px;
}

.now-learning__skillCaption {
    margin-top: 40px;
    font-size: 42px;
}

/* *************** Quote *************** */

.page__sectionQuote {
    flex-basis: 80vh;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #f9fcfe;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../images/can.jpg);
}

.quote__blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.quote__title {
    /* display: block;   */
}

.quote__titleSpan {
    color: rgba(14, 216, 214)
}

/* *************** Contact *************** */

.page__sectionContact {
    padding: 80px 0 30px;
    text-align: center;
    color: #222;
    background-color: #f9fcfe;
    font-size: 24px;
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* background-position: center; */
    background-image: linear-gradient(rgb(8, 20, 28), rgba(8, 22, 28, 0.911), rgba(8, 22, 28, 0.698), rgba(14, 216, 213, 0.671), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.4), rgba(14, 216, 214, 0.3), rgba(215, 255, 254, 0.5)), url(../images/bg-pattern.png)
}

.contact__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 55px;
    color: #f9fcfe;
}

.contact__wrap {
    display: flex;
    padding: 80px 100px 30px 250px;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 20px;
}

/* .contact__formDescription {
    flex-basis: 30%;
} */

.contact__form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 55%;
}

.contact__formDescription-yourName,
.contact__formDescription-yourEmail,
.contact__formDescription-yourPhone,
.contact__formDescription-messageSubject,
.contact__formDescription-yourMessage {
    margin-bottom: 5px;
}

/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact__form-name,
.contact__form-mail,
.contact__form-phone,
.contact__form-select,
.contact__form-message {
    height: 42px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgba(221, 221, 221, 0.657);
    border: 1px solid #222;
    outline: none;
    border-radius: 3px;
}

.contact__form-message {
    resize: none;
}

.contact__form-phone {
    letter-spacing: 2px;
}

.contact__form-message {
    height: 140px;
    margin-bottom: 30px;
}

.contact__form-button {
    padding: 15px 20px;
    font-size: 22px;
    font-family: 'Saira Condensed', sans-serif;
    border: 2px solid #222;
    border-radius: 4%;
    text-transform: uppercase;
    background-color: transparent;
    color: #222;
    cursor: pointer;
    transition: 0.25s;
}

.contact__form-button:hover {
    color: #fff;
    background-color: #222;
}

.contact__wrapSocials {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px 0 110px 80px;
}

.contact__wrapSocials-social {
    /* line-height: 72px; */
    display: flex;
    align-items: center;
}

.contact__wrapSocials-social img {
    transition: all 0.45s;
}

.contact__wrapSocials-social img:hover {
    /* color: #0ed8d6; */
    /* background-color: #fff; */
    transform: rotate(360deg);
}

.contact__wrapSocials-social a:visited {
    color: #222;
}

.contact__wrapSocials-social-span {
    display: inline-block;
    margin-left: 20px;
    /* padding: 10px; */
    /* line-height: 72px; */
}

.contact__wrapSocials-social-span:hover {
    padding: 6px 14px;
    color: #fff;
    border-radius: 3px;
    background-color: #222;
    cursor: pointer;
    transition: 0.25s;
    font-size: 25px;
}

/* *************** Footer *************** */

.page__footer {
    padding-top: 150px;
    text-align: center;
    font-size: 22px;
    color: #222;
    /* background-color: #fff; */
}