/*
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Saira Condensed', sans-serif;
}

.page {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ddd;
}

/* Scroll animations */

.about-me__description,
.abilities__wrap,
.now-learning__skill {
    transition: 0.65s;
}

.about-me__description,
.now-learning__skill {
    transform: translateX(-140%);
}

.abilities__wrap {
    transform: translateX(140%);
}

.about-me__description.active,
.abilities__wrap.active,
.now-learning__skill.active {
    transform: translateX(0);
}

/* Navigation animation */

.naviActiveColor {
    color: #222;
}

.naviActive {}

/* *************** Main navigation *************** */

.page__mainNav {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
    line-height: 1.8;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 0.4s;
    z-index: 9999;
}

.main-nav.scrolled {
    background-color: rgba(14, 216, 214, 0.6);
}

.main-nav__list {
    list-style: none;
}

.main-nav__list-item {
    display: inline-block;
    padding: 13px 30px;
}

.main-nav__list-item-link {
    display: block;
    color: #ddd;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: .3s;
}

.main-nav__list-item-link-i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: -2px;
}

.main-nav__list-item-link:hover {
    color: #222;
    transition: 0.25s;
}


/* RWD */

@media (max-width: 1600px) {
    .main-nav__list-item {
        padding: 10px 20px;
    }

    .main-nav__list-item-link {
        font-size: 18px;

    }
}

@media (max-width: 1280px) {
    .main-nav__list-item {
        padding: 10px 20px;
    }

    .main-nav__list-item-link {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .main-nav__list-item {
        padding: 10px 12px;
    }

    .main-nav__list-item-link {
        font-size: 14px;
    }

    .main-nav__list-item-link-i {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .page__mainNav {
        display: none;
    }
}


/* *************** Header *************** */

.page__header {
    position: relative;
    flex-basis: 100vh;
    max-width: 1920px;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-tuxes.png);
}

.page__header>* {
    position: absolute;
}

.header__wrap {
    z-index: 1;
    top: 10%;
    left: 16%;
    right: 5%;
    font-family: 'Saira Condensed',
        sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

.header__wrap-greetings {
    display: inline-block;
    position: relative;
    left: 0;
    font-family: monospace;
    font-size: 160px;
    animation: typing 2s steps(8) forwards 1;
}

.header__wrap-greetings::after {
    content: "";
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    right: 0;
    border-left: 3px solid #fff;
    animation: cursor 0.5s linear forwards 6;
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    15% {
        border-color: transparent;
    }

    25% {
        border-color: #fff;
    }

    35% {
        border-color: #fff;
    }

    50% {
        border-color: transparent;
    }

    65% {
        border-color: transparent;
    }

    80% {
        border-color: #fff;
    }

    95% {
        border-color: #fff;
    }

    100% {
        border-color: transparent;
    }

}

@keyframes typing {
    0% {
        left: -47%;
    }

    100% {
        left: 0;
    }
}

.header__wrap-name {
    margin-top: 40px;
    font-size: 80px;
}

.header__wrap-profession {
    font-size: 70px;
    font-weight: normal;
}

.header__wrapWrap {
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
    width: 540px;
    min-height: 200px;
    font-weight: 300;
    font-size: 28px;
    font-family: 'Saira', sans-serif;
}

.header__wrap-p {
    font-size: 32px;
    margin-bottom: 25px;
}

.header__wrap-arrow {
    position: relative;
    bottom: 20px;
    left: calc(50% - 40px);
    font-size: 30px;
    width: 52px;
    height: 180px;
    overflow: hidden;
}


.header__wrap-arrow-1 {
    transform: translateY(-35px);
    animation: arrow1 1.9s linear infinite;

}

.header__wrap-arrow-2 {
    transform: translateY(-60px);
    animation: arrow2 1.9s linear infinite;
}

.header__wrap-arrow-3 {
    transform: translateY(-85px);
    animation: arrow3 1.9s linear infinite;
}

.header__wrap-arrow-1,
.header__wrap-arrow-2,
.header__wrap-arrow-3 {
    position: absolute;
}

@keyframes arrow1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    55% {
        opacity: 0.76;
    }

    60% {
        opacity: 0.76;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translateY(150px);
        opacity: 0;
    }
}

@keyframes arrow2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    55% {
        opacity: 0.76;
    }

    70% {
        opacity: 0.76;
    }

    80% {
        opacity: 0;
    }

    100% {
        transform: translateY(125px);
        opacity: 0;
    }
}

@keyframes arrow3 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0.76;
    }

    80% {
        opacity: 0.76;
    }

    90% {
        opacity: 0;
    }

    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}



.header__wrap-button:hover {
    background-color: #fff;
    color: #222;
}

.header__photo {
    height: 90%;
    bottom: 0;
    right: 0;
}


/* Responsive Web Design (RWD) */
@media (orientation: landscape) and (max-width: 1600px) {
    .header__wrap {
        top: 15%;
    }

    .header__wrap-greetings {
        font-size: 130px;
    }

    .header__wrap-name {
        font-size: 70px;
    }

    .header__wrap-profession {
        font-size: 60px;
    }

    .header__wrapWrap {
        margin-left: 60px;
    }

    .header__wrap-p {
        font-size: 30px;
    }

    .header__photo {
        height: 85%;
        bottom: 0;
    }
}

@media (orientation: landscape) and (max-width: 1440px) {
    .header__wrap {
        top: 17%;
    }

    .header__wrap-greetings {
        font-size: 110px;
    }

    .header__wrap-name {
        font-size: 60px;
    }

    .header__wrap-profession {
        font-size: 50px;
    }

    .header__wrapWrap {
        margin-left: 30px;
    }

    .header__wrap-p {
        font-size: 28px;
    }

    .header__photo {
        height: 80%;
        bottom: 0;
    }
}

@media (orientation: landscape) and (max-width: 1280px) {
    .header__wrap {
        top: 20%;
        left: 20%;
    }

    .header__wrap-greetings {
        font-size: 106px;
    }

    .header__wrap-name {
        font-size: 55px;
    }

    .header__wrap-profession {
        font-size: 45px;
    }

    .header__wrapWrap {
        margin-left: 14px;
    }

    .header__wrap-p {
        font-size: 25px;
    }

    .header__photo {
        height: 70%;
        bottom: 0;
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    .header__wrap {
        top: 22%;
        left: 16%;
    }

    .header__wrap-greetings {
        font-size: 86px;
    }

    .header__wrap-name {
        font-size: 42px;
    }

    .header__wrap-profession {
        font-size: 35px;
    }

    .header__wrapWrap {
        margin-top: 50px;
        margin-right: 14px;
        width: 350px;
    }

    .header__wrap-p {
        font-size: 22px;
    }

    .header__wrap-arrow {
        font-size: 22px;
    }

    .header__photo {
        height: 65%;
        bottom: 0;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .header__wrap {
        top: 24%;
        left: 16%;
    }

    .header__wrap-greetings {
        font-size: 57px;
    }

    .header__wrap-name {
        font-size: 34px;
    }

    .header__wrap-profession {
        font-size: 32px;
    }

    .header__wrapWrap {
        margin-top: 50px;
        margin-right: 14px;
        width: 250px;
    }

    .header__wrap-p {
        display: inline-block;
        font-size: 18px;
    }

    .header__wrap-arrow {
        font-size: 18px;
    }

    .header__photo {
        height: 62%;
        bottom: 0;
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .header__wrap {
        top: 16%;
        left: 10%;
    }

    .header__wrap-greetings {
        font-size: 58px;
        animation: none;
    }

    .header__wrap-greetings::after {
        display: none;
        animation: none
    }

    .header__wrap-name {
        font-size: 36px;
    }

    .header__wrap-profession {
        font-size: 26px;
    }

    .header__wrapWrap {
        margin-top: 50px;
        margin-left: 0;
        width: 310px;
    }

    .header__wrap-p {
        font-size: 20px;
    }

    .header__wrap-arrow {
        font-size: 18px;
    }

    .header__photo {
        height: 52%;
        bottom: 0;
    }
}

@media (orientation: portrait) and (max-width: 360px) {
    .header__wrap {
        top: 16%;
        left: 10%;
    }

    .header__wrap-greetings {
        font-size: 57px;
    }

    .header__wrap-name {
        font-size: 32px;
    }

    .header__wrap-profession {
        font-size: 25px;
    }

    .header__wrapWrap {
        margin-top: 50px;
        margin-right: 14px;
        width: 250px;
    }

    .header__wrap-p {
        display: inline-block;
        font-size: 18px;
    }

    .header__wrap-arrow {
        font-size: 15px;
    }

    .header__photo {
        height: 52%;
        bottom: 0;
    }
}

/* *************** Section About me *************** */

.page__sectionAboutMe {
    padding: 80px 300px 100px;
    text-align: center;
    background-color: #f9fcfe;
    background-image: url(../images/bg-pattern.png);
}

.about-me__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-me__description {
    padding: 35px 15px 0;
    font-size: 20px;
    font-weight: 300;
}

/* RWD */

@media (max-width: 1600px) {
    .page__sectionAboutMe {
        padding: 80px 250px 100px;
    }
}

@media (max-width: 1400px) {
    .page__sectionAboutMe {
        padding: 80px 200px 100px;
    }

    .about-me__description {
        font-size: 20px;
    }
}

@media (max-width: 1280px) {
    .page__sectionAboutMe {
        padding: 80px 180px 100px;
    }

    .about-me__description {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .page__sectionAboutMe {
        padding: 80px 150px 100px;
    }

    .about-me__description {
        font-size: 20px;
    }
}

@media (max-width: 880px) {
    .page__sectionAboutMe {
        padding: 80px 60px 100px;
    }

    .about-me__description {
        font-size: 18px;
    }
}

@media (max-width: 880px) {
    .page__sectionAboutMe {
        padding: 80px 45px 100px;
    }
}

@media (max-width: 360px) {
    .page__sectionAboutMe {
        padding: 80px 40px 100px;
    }

    .about-me__description {
        font-size: 18px;
    }
}

/* *************** Section Abilities *************** */

.page__sectionAbilities {
    padding: 80px 280px 15px;
    text-align: center;
    background-color: #fff;
    background-image: url(../images/bg-pattern.png);
    overflow: hidden;
}

.abilities__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.abilities__wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0 auto;
    padding: 35px 15px;
    min-height: 500px;
    color: #222;
    font-size: 18px;
}

.abilities__skill {
    flex-basis: 25%;
}

.abilities__skill-i {
    font-size: 4em;
}

.abilities__skillCaption {
    margin-top: 20px;
    font-size: 22px;
}

.abilities__MySQL {
    height: 78px;
    width: 90px;
}

.abilities__skillCaption.abilities__MySQL {
    margin: 6px auto 0;
}


/* RWD */

@media (max-width: 1600px) {
    .page__sectionAbilities {
        padding: 80px 170px 15px;
    }
}

@media (max-width: 1280px) {
    .page__sectionAbilities {
        padding: 80px 130px 15px;
    }

    .abilities__skill {
        flex-basis: 50%;
        padding: 30px 50px;
    }
}

@media (max-width: 1024px) {
    .page__sectionAbilities {
        padding: 80px 50px 15px;
    }
}

@media (max-width: 768px) {
    .page__sectionAbilities {
        padding: 80px 40px 15px;
    }

    .abilities__skill {
        flex-basis: 100%;
        padding: 30px 0;
    }
}

/* @media (max-width: 420px) {}

@media (max-width: 360px) {} */


/* *************** Section Now learning *************** */

.page__sectionNowLearning {
    padding: 20px 150px 80px;
    text-align: center;
    background-color: #f9fcfe;
    background-image: url(../images/bg-pattern.png);
}

.now-learning__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.now-learning__wrap {
    display: flex;
}

.now-learning__skill {
    flex-basis: 100%;
}

.now-learning__skill-i {
    font-size: 290px;
}

.now-learning__skillCaption {
    margin-top: 40px;
    font-size: 42px;
}

@media (max-width: 1600px) {
    .now-learning__skill-i {
        font-size: 250px;
    }

    .now-learning__skillCaption {
        font-size: 38px;
    }
}

@media (max-width: 1280px) {
    .now-learning__skill-i {
        font-size: 220px;
    }

    .now-learning__skillCaption {
        margin-top: 34px;
        font-size: 34px;
    }
}

@media (max-width: 1024px) {
    .now-learning__skill-i {
        font-size: 200px;
    }

    .now-learning__skillCaption {
        margin-top: 30px;
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .page__sectionNowLearning {
        padding: 20px 60px 80px;
    }

    .now-learning__skill-i {
        font-size: 170px;
    }

    .now-learning__skillCaption {
        margin-top: 30px;
        font-size: 28px;
    }
}

/* @media (max-width: 360px) {} */


/* *************** Quote *************** */

.page__sectionQuote {
    flex-basis: 80vh;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #f9fcfe;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../images/can.jpg);
}

.quote__blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.quote__titleSpan {
    color: rgba(14, 216, 214)
}

@media (max-width: 1600px) {
    .page__sectionQuote {
        font-size: 45px;
    }
}

@media (max-width: 1400px) {
    .page__sectionQuote {
        font-size: 40px;
    }
}

@media (max-width: 1280px) {
    .page__sectionQuote {
        flex-basis: 70vh;
        font-size: 38px;
    }
}

@media (max-width: 1024px) {
    .page__sectionQuote {
        font-size: 35px;
    }
}

@media (max-width: 900px) {
    .page__sectionQuote {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .page__sectionQuote {
        flex-basis: 70vh;
        font-size: 30px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .quote__blockquote {
        padding: 0 30px;
    }
}

@media (max-width: 360px) {
    .page__sectionQuote {
        font-size: 26px;
    }
}

/* *************** Contact *************** */

.page__sectionContact {
    padding: 80px 0 30px;
    text-align: center;
    color: #222;
    background-color: #f9fcfe;
    font-size: 24px;
    background-image: linear-gradient(rgb(8, 20, 28), rgba(8, 22, 28, 0.911), rgba(8, 22, 28, 0.698), rgba(14, 216, 213, 0.671), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.5), rgba(14, 216, 214, 0.4), rgba(14, 216, 214, 0.3), rgba(215, 255, 254, 0.5)), url(../images/bg-pattern.png)
}

.contact__title {
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 55px;
    color: #f9fcfe;
}

.contact__wrap {
    display: flex;
    padding: 80px 100px 30px 250px;
    padding-top: 20px;
}

/* .contact__formDescription {
    flex-basis: 30%;
} */

.contact__form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 55%;
}

.contact__formDescription-yourName,
.contact__formDescription-yourEmail,
.contact__formDescription-yourPhone,
.contact__formDescription-messageSubject,
.contact__formDescription-yourMessage {
    margin-bottom: 5px;
}

/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact__form-name,
.contact__form-mail,
.contact__form-phone,
.contact__form-select,
.contact__form-message {
    height: 42px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 24px;
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgba(221, 221, 221, 0.657);
    border: 1px solid #222;
    outline: none;
    border-radius: 3px;
}

.contact__form-message {
    resize: none;
    height: 140px;
    margin-bottom: 30px;
}

.contact__form-phone {
    letter-spacing: 2px;
}

.contact__form-button {
    padding: 15px 20px;
    font-size: 22px;
    font-family: 'Saira Condensed', sans-serif;
    border: 2px solid #222;
    border-radius: 4%;
    text-transform: uppercase;
    background-color: transparent;
    color: #222;
    cursor: pointer;
    transition: 0.25s;
}

.contact__form-button:hover {
    color: #fff;
    background-color: #222;
}

.contact__wrapSocials {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px 0 110px 80px;
}

.contact__wrapSocials-social {
    display: flex;
    align-items: center;
}

.contact__wrapSocials-social img {
    transition: all 0.45s;
}

.contact__wrapSocials-social img:hover {
    transform: rotate(360deg);
}

.contact__wrapSocials-social a:visited {
    color: #222;
}

.contact__wrapSocials-social a {
    color: #222;
}

.contact__wrapSocials-social-span {
    display: inline-block;
    margin-left: 20px;
}

.contact__wrapSocials-social-span:hover {
    padding: 6px 14px;
    color: #fff;
    border-radius: 3px;
    background-color: #222;
    cursor: pointer;
    transition: 0.25s;
    font-size: 25px;
}

.contact__formspree {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 250px;
    font-size: 15px;
    font-weight: bold;
}

.contact__formspree img {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

.contact__formspree-request {
    text-align: left;
    margin-top: 10px;
    margin-left: 250px;
    font-size: 15px;
    font-weight: 300;
}

/* RWD */
@media (max-width: 1600px) {
    .page__sectionContact {
        font-size: 23px;
    }
}

@media (max-width: 1400px) {
    .page__sectionContact {
        font-size: 22px;
    }

    .contact__wrap {
        padding: 80px 100px 30px 200px;
    }

    .contact__form-name,
    .contact__form-mail,
    .contact__form-phone,
    .contact__form-select,
    .contact__form-message {
        height: 38px;
    }

    .contact__form-message {
        height: 120px;
    }

    .contact__form-button {
        padding: 12px 17px;
        font-size: 20px;
    }

    .contact__wrapSocials {
        padding: 50px 0 50px 80px;
    }

    .contact__wrapSocials-social img {
        height: 65px;
        width: 65px;
    }
}

@media (max-width: 1280px) {
    .page__sectionContact {
        font-size: 22px;
    }

    .contact__wrap {
        padding: 80px 50px 30px 150px;
    }

    .contact__form {
        flex-basis: 60%;
    }

    .contact__form-name,
    .contact__form-mail,
    .contact__form-phone,
    .contact__form-select,
    .contact__form-message {
        height: 35px;
        font-size: 21px;
    }

    .contact__form-message {
        height: 100px;
    }

    .contact__wrapSocials {
        flex-basis: 35%;
    }

    .contact__wrapSocials-social img {
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 1024px) {
    .page__sectionContact {
        font-size: 18px;
    }

    .contact__title {
        margin-bottom: 40px;
    }

    .contact__wrap {
        padding: 40px 50px 30px 100px;
    }

    .contact__form {
        flex-basis: 70%;
    }

    .contact__wrapSocials {
        flex-basis: 30%;
        padding: 40px 0 70px 70px;
    }

    .contact__form-name,
    .contact__form-mail,
    .contact__form-phone,
    .contact__form-select,
    .contact__form-message {
        height: 30px;
        font-size: 16px;
    }

    .contact__form-message {
        height: 80px;
    }

    .contact__form-button {
        padding: 8px 14px;
        font-size: 16px;
        cursor: auto;
    }

    .contact__form-button:hover {
        color: #222;
        background-color: transparent;
    }

    .contact__wrapSocials-social img {
        height: 50px;
        width: 50px;
    }

    .contact__wrapSocials-social img:hover {
        color: #222;
        transform: rotate(0deg);
    }

    .contact__wrapSocials-social-span:hover {
        padding: 0;
        color: #222;
        background-color: transparent;
        cursor: auto;
        font-size: 18px;
    }

    .contact__formspree-request,
    .contact__formspree {
        margin-left: 100px;
    }
}

@media (max-width: 950px) {
    .page__sectionContact {
        font-size: 22px;
    }

    .contact__title {
        margin-bottom: 80px;
    }

    .contact__wrap {
        flex-wrap: wrap;
        padding: 40px 120px 10px;
    }

    .contact__form {
        flex-basis: 100%;
    }

    .contact__wrapSocials {
        align-items: space-around;
        flex-basis: 100%;
        padding: 60px 0 20px;
    }

    .contact__wrapSocials-social {
        margin-bottom: 20px;
    }

    .contact__form-name,
    .contact__form-mail,
    .contact__form-phone,
    .contact__form-select,
    .contact__form-message {
        height: 35px;
        font-size: 20px;
    }

    .contact__form-message {
        height: 130px;
    }

    .contact__form-button {
        padding: 10px 17px;
        font-size: 20px;
    }

    .contact__wrapSocials-social img {
        height: 50px;
        width: 50px;
    }

    .contact__wrapSocials-social-span:hover {
        font-size: 22px;
    }

    .contact__formspree-request,
    .contact__formspree {
        margin-left: 130px;
    }
}

@media (max-width: 768px) {
    .page__sectionContact {
        font-size: 18px;
    }

    .contact__wrap {
        padding: 40px 90px 10px;
    }

    .contact__form-name,
    .contact__form-mail,
    .contact__form-phone,
    .contact__form-select,
    .contact__form-message {
        height: 30px;
        font-size: 16px;
    }

    .contact__form-message {
        height: 100px;
    }

    .contact__form-button {
        padding: 6px 12px;
        font-size: 16px;
    }

    .contact__formspree-request,
    .contact__formspree {
        margin-left: 90px;
    }
}

@media (max-width: 640px) {
    .contact__wrap {
        padding: 40px 50px 10px;
    }

    .contact__formspree-request,
    .contact__formspree {
        margin-left: 50px;
    }
}

/* *************** Footer *************** */

.page__footer {
    padding-top: 120px;
    text-align: center;
    font-size: 22px;
    color: #222;
}

@media (max-width: 900px) {
    .page__footer {
        padding-top: 60px;
        font-size: 18px;
    }
}
